{% extends 'base.html' %}

{% block head %}
<title>About Page</title>
<style>
    h1 {text-align: center;}
    P {text-align: center;}
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
</style>
{% endblock %}

{% block body%}
<h1>About Page</h1>
<p>This is a basic FLASK App which explains about the various functions of the navigation bar.</p>
<img src="https://cdn.hackersandslackers.com/2020/02/flask-intro.jpg" alt="Mountain" class="center">
{% endblock %}
    