{% extends 'base.html' %}

{% block head%}
<title>HOME PAGE</title>
{% endblock %}

{% block body%}
<h1>This is HOME PAGE</h1>
<p>WELCOME</p>
<div class="header">
  <h1>Chennai</h1>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li>The Flight</li>
      <li>The City</li>
      <li>The Island</li>
      <li>The Food</li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <h1>The City</h1>
    <p>Chennai, formerly known as Madras, is the capital city of the Indian state of Tamil Nadu. The state's largest city in area and population as well, Chennai is located on the Coromandel Coast of the Bay of Bengal, and is the most prominent cultural, economic and educational centre of South India.</p>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>What?</h2>
      <p>Chennai is a capital city of the Indian state of Tamil Nadu.</p>
      <h2>Where?</h2>
      <p>The Island, also called as Island Grounds, is a river island situated on the Coovum River in the northern part of the Indian city of Chennai.</p>
      <h2>How?</h2>
      <p>Chennai International Airport is located at a distance of 7 km from the main city.</p>
    </div>
  </div>
</div>


{% endblock %}

