img{
    height: auto;
max-width: 100%; }
*{
margin: 0;
padding: 0; }
.container{ 

    padding: 10px 20px;
    
min-height: 90vh;
background-size: contain;
    position: relative;
}
.container img{
    position: absolute;
    left: 26%;
    top: 8%;
    animation: levitation 2s infinite alternate linear;
}
@keyframes levitation{
    0%{top:8%;}
    100%{top: 18%;}
} 